/* Base64 encoded placeholder SVG */
.vendor-placeholder-img {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Crect width='100' height='100' fill='%23f8f9fa'/%3E%3Cpath d='M35,25h30v30h-30z' fill='%23dee2e6'/%3E%3Ctext x='50' y='75' text-anchor='middle' font-family='Arial' font-size='14' fill='%236c757d'%3EVendor%3C/text%3E%3C/svg%3E");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
}